.poop-btn {
  width: 100px;
  height: 100px;
  background: #f39800;
  text-align: center;
  border-radius: 30%;
  bottom: 110px;
  right: 32px;
  position: fixed;
  text-decoration: none;
}

.poop-btn:hover{
  background-color: #d3d3d3;
}

.poop-btn-icon {
  margin-top: 12px;
  width: 70%;
  height: 70%;
}


.top-btn {
  width: 50px;
  height: 50px;
  background: #c0c0c0;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  text-decoration: none;
}

.top-btn:hover{
  background-color: #d3d3d3;
}

.top-btn-text {
  color: black;
  display: block;
  font-size: 15px;
  text-decoration: none;
}

.top-btn-icon {
  width: 50%;
  height: 50%;
}