.edit_submit{
  margin-top: 30px;
}


.edit_btn{
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  font-size: 20px;
  color: white;
  background-color: #f39800;
  border-radius: 10%;
  border: none;
  padding: 0.55em 2em;
  border-radius: 50px;
  text-decoration: none;
}

.edit_btn:hover{
  background-color: #f2ab30;
}

.time_detail{
  height: 30px;
  width: 400px;
  padding: 3px 0 0 3px;
  font-size: 20px;
  border: 1px solid black;
}

.detail{
  height: 30px;
  width: 200px;
  padding: 3px 0 0 3px;
  font-size: 20px;
  border: 1px solid black;
}
