/*うんち記録*/

.infomations{
  margin-top: 50px;
  margin-left: 50px;
  font-size: 25px;
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
}

.info{
  display: flex;
}

.form_tag{
  margin-top: 5px;
}

.info_icon{
  width: 35px;
  height: 35px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.time_box{
  height: 30px;
  width: 100px;
  font-size: 20px;
}

.pulldown{
  display: flex;
  margin-top: 20px;
}

.pulldown_box{
  height: 30px;
  width: 200px;
  font-size: 20px;
}

.shape{
}

.color{
  margin-left: 40px;
}

.amount{
  margin-left: 40px;
}

.smell{
  margin-left: 40px;
}

.text{
  margin-top: 20px;
}

.memo{
  height: 80px;
  width: 400px;
}

.submit{
  margin-top: 20px;
}

.submit_btn{
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  font-size: 20px;
  color: white;
  background-color: #f39800;
  border-radius: 10%;
  border: none;
  padding: 0.3em 2em;
  border-radius: 50px;
}

.submit_btn:hover{
  background-color: #f2ab30;
}

.delete_btn{
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  font-size: 20px;
  color: #f39800;
  border: solid 2px;
  margin-left: 10px;
  padding: 0.55em 2em;
  border-radius: 50px;
  text-decoration: none;
}

.delete_btn:hover{
  color: #c0c0c0;
}

.calendar_stamp{
  display: flex;
}

.calendar_image{
  height: 50px;
  margin-left: 15px;
}

/*うんち記録*/


/*相談一覧*/

.post{
  border-bottom: 1px solid #c0c0c0;;
  margin: 0px 300px 0px 300px;
  padding: 30px 10px 10px 10px;
}

.post_user_name{
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  color: #f39800;
  font-size: 15px;
  text-decoration: none;
}

.post_user_name:hover{
  text-decoration: underline;
}

.post_show{
  text-decoration: none;
}

.post_date{
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  font-size: 15px;
  color: gray;
  margin-top: 5px;
}

.post_title{
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  font-size: 20px;
  color: black;
  margin-top: 20px;
}

.post_title:hover{
  text-decoration: underline;
}

.post_text{
  font-size: 15px;
  color: gray;
  margin-top: 10px;
}

.post_text:hover{
  text-decoration: underline;
}

/*相談一覧*/