.form__wrapper{
  min-height: calc(100vh - 161px);
}

.page-heading{
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  font-size: 20px;
  border-bottom: 1px solid #c0c0c0;
  margin-right: 50%;
}

.field{
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  font-size: 20px;
  margin: 20px 0;
}

.form_title{
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  height: 30px;
  width: 200px;
  margin-top: 10px;
  font-size: 15px;
}

.form_text{
  height: 200px;
  width: 700px;
  margin-top: 10px;
  font-size: 15px;
}

.form_image{
  margin-top: 10px;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  font-size: 20px;
  color: white;
  background-color: #f39800;
  border-radius: 10%;
  border: none;
  padding: 0.3em 2.7em;
  border-radius: 50px;
}

.form__btn:hover{
  background-color: #f2ab30;
}