
.inner{
  padding: 50px 300px 0 300px;
}

.post_wrapper{
  min-height: calc(100vh - 161px);
}

.post_image{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.post_detail{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.detail_title{
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.detail_text{
  margin-top: 10px;
  font-size: 15px;
}

.post_manage{
  display: flex;
  float: right;
}

.post_btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.post_btn:hover{
  color: #fff;
  background: #999;
}

.post_comments{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

@media (max-width: 1080px) {
.inner{
  padding: 50px 120px 0 120px;
  }
}

@media (max-width: 990px) {
.inner{
  padding: 50px 150px 0 150px;
  }
}

@media (max-width: 770px) {
.inner{
  padding: 50px 100px 0 100px;
  }
}

@media (max-width: 599px) {
.inner{
  padding: 50px 60px 0 60px;
  }
}

@media (max-width: 400px) {
.inner{
  padding: 50px 10px 0 10px;
  }
}