.login-btn {
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  font-size: 20px;
  color: white;
  background-color: #f39800;
  border-radius: 10%;
  border: none;
  padding: 0.5em 6em;
  border-radius: 50px;
}

.login-flash-message {
  text-align: center;
  color: red;
}

.login_translation{
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  list-style: none;
  font-size: 20px;
  margin-top: 40px;
  margin-right: 20px;
}