
.user_heading{
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  font-size: 30px;
  border-bottom: 1px solid #c0c0c0;
  margin: 50px 300px 0 300px;
  padding-bottom: 10px;
}

.user__wrapper{
  min-height: calc(100vh - 161px);
}
.user_table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
  margin: 50px 300px 0 300px;
}

.table__col1{
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  text-align: left;
  font-weight: bold;
  background: #d3d3d3;
  border-collapse: collapse;
  border: 1px solid #fafafa;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #d3d3d3;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}

.user_card {
  margin-bottom: 70px;
}
